body{
    margin: 0;
}
.container{
    width: auto;
    height: 1000vh;
    background-color: rgb(88, 29, 161);
    display: flex;
    justify-content: center;
}
#show_me1{
    color: rgb(88, 29, 161);
    width: 80px;
    height: 30px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    border-radius: 5px;
    
}
#border{
    width: 300px;
    height: 350px;
    border: 2px solid white;
    margin-top: 110px;
    color: #dfc2c2;
    display: flex;
    font-size: 12px;
    padding: 20px;
    flex-wrap: wrap;
    gap: 50px;
}